.mdl-grid
  .mdl-layout-spacer
  .mdl-cell.mdl-cell--8-col
    = form_for(@shop, url: url) do |f|
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-color-text--white
        = f.label :'店名', class:'mdl-textfield__label'
        = f.text_field :name, class: 'mdl-textfield__input form-control', pattern: '.{1,}'
        %span.mdl-textfield__error= "空になっています"
      .clear
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-color-text--white
        = f.label :'メールアドレス', class:'mdl-textfield__label'
        = f.text_field :email, class: 'mdl-textfield__input form-control', pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$'
        %span.mdl-textfield__error= "無効なメールアドレスです"
      .clear
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-color-text--white
        = f.label :'お店紹介', class:'mdl-textfield__label'
        = f.text_area :profile, class: 'mdl-textfield__input form-control', rows: '10', cols: '50'
        %span.mdl-textfield__error= ""
      .clear
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-color-text--white
        = f.label :'パスワード', class:'mdl-textfield__label'
        = f.password_field :password, class: 'mdl-textfield__input form-control', pattern: '^([a-zA-Z0-9]{6,})$'
        %span.mdl-textfield__error= "半角英数字6文字以上です"
      .clear
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-color-text--white
        = f.label :'再確認', class:'mdl-textfield__label'
        = f.password_field :password_confirmation, class: 'mdl-textfield__input form-control', pattern: '^([a-zA-Z0-9]{6,})$'
        %span.mdl-textfield__error= "半角英数字6文字以上です"
      .clear
      = f.label :'写真'
      = f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'
      = f.submit text_btn, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  .mdl-layout-spacer

:javascript
  $('#shop_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
