/ Square card
:css
  .demo-card-image.mdl-card {
    width: 160px;
    height: 160px;
    background-image: url('/images/shop.jpg');
    background-size: cover;
  }
  .demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  .demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
%h1
%h1.bg-slider__title SHOP一覧
.mdl-grid
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
.mdl-grid
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
.mdl-grid
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
  .mdl-cell.mdl-cell--4-col
    = render 'shop_card'
.mdl-grid
  - 6.times do
    .mdl-cell.mdl-cell--2-col
      = render 'product_card'
%button.mdl-button.show-modal.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent{:type => "button"} 出店する
%dialog.mdl-dialog
  .mdl-dialog__content
    フォーム入力残る
  .mdl-dialog__actions.mdl-dialog__actions--full-width
    %button.mdl-button{:type => "button"} Agree
    %button.mdl-button.close{:type => "button"} Disagree
:javascript
  var dialog = document.querySelector('dialog');
  var showModalButton = document.querySelector('.show-modal');
  if (!dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showModalButton.addEventListener('click', function () {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function () {
    dialog.close();
  });
